.hoverFloat {
  max-width: 350px;
  min-height: 390px;
  width: 350px;
  // height: 390px;
  border-radius: 3px;
  transition: all 0.33s ease-in-out !important;
  
  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    transform: translate(0, -2.5px);
  }
}