.logoBox {
  display: flex;
  align-items: center;
  overflow: visible;

  & span {
    overflow: visible !important;
  }

  & img {
    transition: transform 0.33s ease; //, filter 0.33s ease-in-out, opacity 0.33s ease-in-out !important;
    // opacity: 0.6;
    // filter: grayscale(0.33);
  }   

  &:hover {
    & img {
      transform: translate(0, -0.3em);
      // filter: unset;
      // opacity: 1;
    }
  }
}

.logoBoxNoAnimate {
  display: flex;
  align-items: center;
  overflow: visible;

  & span {
    overflow: visible !important;
  }

}