.logoBox {
  display: flex;
  align-items: center;
  transition: transform 0.33s ease;
  // transform-origin: center top;

  & img {
    // opacity: 0.6;
    // filter: grayscale(100);
    // transition: filter 0.33s ease-in-out, opacity 0.33s ease-in-out !important;
  }   

  &:hover {
    transform: translate(0, -0.3em);
    // & img {
    //   filter: unset;
    //   opacity: 1;
    // }
  }
}