.testimonialCard {
  position: relative;
  overflow-y: visible;
}

.innerCard {
  padding: 12px;
  padding-left: 100px;
  overflow-y: visible;
}

.innerCard:before{
    font-size: 200px;
    top: -25px;
    line-height: 1;
    content: "“";
    font-family: auto; //didot, "old standard tt";
    position: absolute;
    left: 0px;
    color: rgba(0, 0, 0, 0.6);
}

// .quoteDiv {
//   position: relative;
// }
// .quoteDiv:after{
//   font-size: 200px;
//   // line-height: 1;
//   content: "”"; //"&rdquo;";
//   font-family: auto; //didot, "old standard tt";
//   position: absolute;
//   top: 60px;
//   right: -50px;
//   color: rgba(0, 0, 0, 0.6);
// }

.quote {
  font-size: 18px;
  font-weight: 300;
}
.name{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;;
}
.title {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;;
}
.client {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
}